#home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  min-height: 95vh;
  width: 60%;
}

.home-text-wrapper {
  width: 50%;
  height: 100%;
}

#home h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: start;
  background: radial-gradient(
    circle farthest-corner at center center,
    #b3b3b3 14%,
    #5a5a5a 100%
  );
  background-clip: text;
  color: transparent;
  width: fit-content;
}

#home h2 {
  color: var(--mainColor);
}

.home-image {
  filter: drop-shadow(2px 2px 2px var(--boxShadow));
  height: 70vh;
}
