#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-text-wrapper {
  width: 50%;
  height: 100%;
}

#home h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: start;
  background: radial-gradient(
    circle farthest-corner at center center,
    #b3b3b3 14%,
    #5a5a5a 100%
  );
  background-clip: text;
  color: transparent;
  width: fit-content;
}

#home h2 {
  color: var(--mainColor);
}

.home-image {
  filter: drop-shadow(2px 2px 2px var(--boxShadow));
  height: 70vh;
  animation: float 5s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1300px) {
  #home {
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
  }

  .home-image {
    height: 50vh;
  }
}
