#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.home-text-wrapper {
  width: 50%;
  height: 100%;
}

#home h1 {
  font-size: 64px;
  font-weight: 600;
  text-align: start;
  background: linear-gradient(90deg, var(--accentColor), #111);
  background-clip: text;
  color: transparent;
  width: fit-content;
}

#home h2 {
  color: var(--accentColor);
  font-weight: 400;
  letter-spacing: 2px;
}

.home-image {
  filter: drop-shadow(2px 2px 2px var(--boxShadow));
  height: 70vh;
  animation: float 5s;
  animation-iteration-count: infinite;
  border-radius: var(--radius);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1300px) {
  #home {
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
  }

  .home-image {
    height: 50vh;
  }
}
@media screen and (max-width: 850px) {
  #home {
    flex-direction: column;
    gap: 10vh;
    margin-top: 1vh;
  }

  .home-image {
    height: 30vh;
  }

  #home h1 {
    font-size: 28px;
  }

  #home h2 {
    font-size: 16px;
  }

  .home-text-wrapper {
    width: fit-content;
    height: 100%;
    margin-inline: auto;
  }
}
