#projects {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.project-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.project-card {
  width: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 1vw;
  box-shadow: 3px 3px 6px var(--boxShadow);
  display: flex;
  background-color: var(--cardBackground);
}

body.dark-theme .project-card {
  border: solid 1px #333;
}

.project-media {
  width: 40%;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw 0 0 1vw;
  border-right: solid 1px #d1d1d1;
}

body.dark-theme .project-media {
  border-right: solid 1px #333;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  min-width: 80px;
}

.project-technologies img {
  width: 40px;
}

.project-description {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #111;
  font-size: 18px;
}

.project-description h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: start;
  background: radial-gradient(
    circle farthest-corner at center center,
    #8c8c8c 14%,
    #5a5a5a 100%
  );
  background-clip: text;
  color: transparent;
  width: fit-content;
}

.project-description p {
  line-height: 1.5;
}

.project-details-list {
  margin-left: 20px;
  line-height: 1.5;
}

.project-buttons {
  display: flex;
  gap: 30px;
}

.project-buttons a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 24px;
  border-radius: 50vh;
  line-height: 1;
  box-shadow: 2px 2px 4px #999;
  background: var(--accentColor);
  transition: 0.1s;
  font-size: 16px;
}

.project-buttons a svg {
  font-size: 20px;
}

.project-buttons a:hover {
  opacity: 0.6;
}

.other-projects-button {
  background: none;
  border: none;
  color: var(--mainColor);
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  position: relative;
  transition: 0.1s;
  margin-inline: auto;
  padding: 8px;
  z-index: 20;
}

.other-projects-button::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 4px;
  height: 3px;
  width: 90%;
  background-color: var(--accentColor);
  transition: 0.2s;
  z-index: -1;
}

.other-projects-button:hover {
  color: #999;
}

.other-projects-wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.overlay {
  background: #6f6f6fe7;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.other-projects-content {
  position: relative;
  z-index: 20;
  margin: 3vh 0 1.5vh 0;
  padding: 5vh;
  width: 75%;
  margin-inline: auto;
  overflow-y: scroll;
  height: 90vh;
  background: var(--backgroundGradient);
  border: solid 1px #777777;
  scrollbar-color: var(--accentColor) transparent;
}

@media screen and (max-width: 850px) {
  .project-card {
    flex-direction: column;
    box-shadow: none;
  }

  .project-media {
    width: 100%;
    border-radius: 1vw 1vw 0 0;
  }

  .project-header {
    flex-direction: column;
    align-items: start;
  }

  .project-header h2 {
    font-size: 24px;
  }

  .project-technologies img {
    width: 30px;
  }

  .project-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #111;
    font-size: 18px;
  }

  .project-description p {
    line-height: 1.2;
    font-size: 16px;
  }

  .project-buttons a {
    font-size: 14px;
    padding: 4px 10px;
  }
  .other-projects-content {
    margin: 2vh 0;
    padding: 2vh;
    width: 90%;
    margin-inline: auto;
    height: 90vh;
  }
}
