aside {
  height: 80vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 3vw;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

aside ul li a {
  text-decoration: none;
  font-size: 30px;
}

aside ul li a p {
  text-align: end;
  transition: 0.2s;
}

aside ul li a:hover p {
  color: rgb(255, 110, 57);
  transform: translateX(8px);
}
