* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  --mainColor: #111111;
  --hoverColor: #7787f9;
  --boxShadow: #111111;
  --accentGradient: linear-gradient(180deg, rgb(51, 107, 163), violet);
  --backgroundGradient: radial-gradient(
    ellipse farthest-side at center center,
    #eeeeee 0%,
    #ffffff 100%
  );
  color: var(--mainColor);
  background: var(--backgroundGradient);
  background-attachment: fixed;
  transition: 0.3s;
}

body.dark-theme {
  --mainColor: #fff;
  --boxShadow: #555555;
  --backgroundGradient: radial-gradient(
    ellipse farthest-side at center center,
    #303030 0%,
    #111111 100%
  );
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  overflow-x: hidden;
}

a {
  color: var(--mainColor);
}
