* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.App {
  scrollbar-color: var(--accentColor) transparent;
}

body {
  --mainColor: #111;
  --accentColor: #2376c9;
  --boxShadow: #d1d1d1;
  --cardBackground: #f0f0f0;
  --backgroundGradient: radial-gradient(
    ellipse farthest-side at center center,
    #e3e3e3 0%,
    #ffffff 100%
  );
  color: var(--mainColor);
  background: var(--backgroundGradient);
  background-attachment: fixed;
  transition: 0.3s;
}

body.dark-theme {
  --mainColor: #fff;
  --boxShadow: #787878;
  --backgroundGradient: radial-gradient(
    ellipse farthest-side at center center,
    #303030 0%,
    #111111 100%
  );
}

body.other-projects-open {
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 65%;
  margin-inline: auto;
}

a {
  color: var(--mainColor);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--mainColor);
}

.footer h4 svg {
  color: var(--accentColor);
}

@media screen and (max-width: 850px) {
  .main-container {
    width: 80%;
  }
}
